<div id="result-wrapper">
    <div class="nofile-flag" th:if="${resultcounts == 0}">
        <img src="/icon/nofile.png" alt="">
    </div>
    <div class="file-area" id="fileArea" th:if="${resultcounts > 0}">
        <div class="loader-container">
            <div class="loader"></div>
        </div>
        <div class="result-content" th:each="result : ${results}">
            <img class="clipboard" src="/icon/click.png" alt="" style="width: 30px;">
            <div class="image-set">
                <img style="width: 100px;" th:if="${result.extendName == 'pdf'}" src="/icon/PDF.png" alt="Image 2" />
                <img style="width: 125px;" th:if="${result.extendName == 'docx'}" src="/icon/DOC.png" alt="Image 3" />
                <img style="width: 102px;" th:if="${result.extendName == 'pptx'}" src="/icon/PPT.png" alt="Image 4" />
                <img style="width: 100px;" th:if="${result.extendName == 'xlsx'}" src="/icon/XLSX.png" alt="Image 5" />
                <img style="width: 110px;" th:if="${result.extendName == 'jpeg'}" src="/icon/JPG.png" alt="Image 6" />
                <img style="width: 102px;" th:if="${result.extendName == 'png'}" src="/icon/PNG.png" alt="Image 7" />
                <img style="width: 110px;"  th:unless="${result.extendName == 'path1' or
                     result.extendName == 'pdf' or
                     result.extendName == 'docx' or
                     result.extendName == 'pptx' or
                     result.extendName == 'xlsx' or
                     result.extendName == 'jpeg' or
                     result.extendName == 'png'}"
                     src="/icon/unknown.png" alt="Default Image" />
            </div>
            <span class="absolutePath" th:text="${result.absolutePath}" style="display: none;"></span>
            <div class="file-content">
                <span>TITLE</span>
                <div class="filename-border">
                    <span th:text="${result.fileName}"></span>
                </div>
            </div>

            <div class="file-detail">
                <span th:text="${result.date}"></span>
                <span th:text="${result.size}"></span>
            </div>
        </div>
    </div>
</div>