<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>UCSI SearchEngine</title>
    <link rel="icon" href="/icon/favicon.png" type="image/png">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<nav th:replace="~{header :: header}"></nav>
<th:block layout:fragment="content">
</th:block>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/index.js"></script>
</body>
</html>
